.boton-amarillo {
    @include boton($amarillo, inline-block);
}

.boton-amarillo-block {
    @include boton($amarillo, block);
}

.boton-azul {
    @include boton($azul, inline-block);
}

.boton-rojo-block{
    @include boton($rojo, block);
    width: 100%;
}

.boton-azul-block{
    @include boton($azul, block);
}

.boton-azul-m{
    @include boton($azulM, inline-block);
}

.boton-verde{
    @include boton($verde, inline-block);
}

.boton-verde-block{
    @include boton($verde, block);
    width: 100%;
}

ion-icon{
   font-size: 5rem;
}    

ion-icon.size3{
    font-size: 3rem;
}
.icono{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.descarga{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.botones{
    flex-direction: column;
    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: .5rem;
        margin-bottom: 1rem;
    }
}